{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags always come first -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>GradeMaster</title>
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">
    <link href="{% static 'app/css/app.css' %}" rel="stylesheet">
    <style>
      #calender{
        height: 100%;
        width: 100%;
      }
      #infos{
        background-color:#000000;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
      }
      nav{
        background-color:darkcyan;
      }
      
    </style>

</head>

<body>
  <style>
    .btn-new {
        background-color: rgb(100, 178, 255);
        border: none;
        padding-left: 1rem;
        padding-right: 1rem;
        color: white;
        border-radius: 15%;
      }
      .btn-new:hover {
        background-color: black;
        color: rgb(100, 178, 255);
      }
  </style>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(209, 209, 209, 0.721);box-shadow: 3px 3px 3px;">
    <a class="nav-link text-white table-bordered border-dark btn-new" href="/">Home</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#Navber" aria-controls="Navber" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="Navber">
        <h1 class="mx-auto">
          <b>&emsp;&emsp;&emsp; &emsp;</b>
          <img id="img" src="static\app\img\grademaster-crop.png" alt="Logo" height="90" width="90">
          <b class="navbar-brand" style="font-size: 1.25em; color: #000000;">GradeMaster</b>
        </h1>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link text-white table-bordered border-dark btn-new" href="{% url 'admin:logout'%}">Logout</a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
  </nav>

    <div id="infos" class="text-center">
      <marquee direction="left" behavior="repeat" scrollamount="8">
        <h6 style="color:#ff9a9a;">| &emsp; Attention parents: School will be closed tomorrow due to inclement weather. Please stay safe. &emsp; | &emsp; Reminder: Parent-teacher conferences will be held on Friday, April 26th from 3:00pm-6:00pm. Sign up now. &emsp; | &emsp; Community event: Local library hosting a free book giveaway this Saturday from 10am-2pm. See the email for more information. &emsp; |</h6>
        </marquee>
    </div>
    <div id="main">
        {% block content %} 
        {% endblock %}
    </div>

    <!-- jQuery first, then Tether, then Bootstrap JS. -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="{% static "app/js/plugins/responsive-paginate.js" %}"></script>
    <script src="{% static "app/js/app.js" %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script>
      $(document).ready(function() {
        var manStart, manEnd;
        var selectedDates = JSON.parse(localStorage.getItem('selectedDates'));
        if (selectedDates){
          manStart = selectedDates.start;
          manEnd = selectedDates.end;
        }
        $('#calendar').fullCalendar({
          selectable: true,
          select: function(manStart, manStart) {
            $('#calendar').fullCalendar('renderEvent', {
              height: 150,
              width: '50%',
              start: manStart ? manStart : start,
              end: manEnd ? manEnd : end,
              rendering: 'background',
              backgroundColor: 'green',
              editable: true
            }, true);
            localStorage.setItem('selectedDates', JSON.stringify({start: start, end: end}));
          }
        });
      });
      </script>
</body>

</html>