{% extends "./_base.html" %}
<!--  -->
{% block content %}
<div class="container">
  <h2 class="text-center">Delete data</h2>

  <form action="" method="post">
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="float-right">
          <h5><b>Delete this data. Is it OK?</b></h5>
          <a class="btn btn-warning border-dark" href="{% url 'index' %}">Return</a>
          <input type="submit" class="btn btn-danger border-dark" value="Delete" />
        </div>
      </div>
    </div>
    {% include "./item_card.html" %}
  </form>
</div>
{% endblock %}
