<div class="row">
  <div class="col-3">
    <p><b>Name</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.name }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Age</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.age }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Roll No</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.roll_no }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Section</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.section }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Gender</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.get_sex_display }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Student Remarks</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.memo|linebreaksbr }}</p>
  </div>
</div>
<div class="row">
  <div class="col-3">
    <p><b>Record Timestamp</b></p>
  </div>
  <div class="col-9">
    <p>{{ item.created_at|date:"Y/m/d G:i:s" }}</p>
  </div>
</div>
<br>
<div class="'row">
  <div class="'col-3">
    <p><b>Grade Sheet</b></p>
    <table class="table table-striped table-bordered table-hover">
      <thead>
        <tr>
          <th scope="col">Subjects</th>
          <th scope="col">Marks</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Mathematics</th>
          <td>{{item.maths}}</td>
        </tr>
        <tr>
          <th scope="row">English</th>
          <td>{{item.english}}</td>
        </tr>
        <tr>
          <th scope="row">Science</th>
          <td>{{item.science}}</td>
        </tr>
        <tr>
          <th scope="row">Social Studies</th>
          <td>{{item.sst}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
