{% extends "./_base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Add Student Record</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <a class="btn btn-dark border-dark btn-cancel" style="border-radius: 10px;" href="{% url 'index' %}">Cancel</a>
        <style>
          .btn-cancel:hover {
            background-color:rgb(255, 60, 60);
            color: black;
          }
        </style>
        <a class="btn btn-dark border-dark save btn-save" style="border-radius: 10px;" href="#">Save</a>
        <style> 
          .btn-save:hover {
            background-color:rgb(127, 192, 52);
            color: black;
          }
        </style>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form method="post" id="myform">
        <div class="form-group">
          <label for="pdf-upload">Upload Transcript</label>
          <input type="file" name="pdf-upload" id="pdf-upload" accept="application/pdf" />
        </div>
        {% crispy form %}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="calendar"></div>
    </div>
  </div>
  <br />
  <br />
  <div></div>
  {% endblock %}
</div>
