{% extends "./_base.html" %} {% load crispy_forms_tags %} {% block content %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2 class="text-center">Add Student Record</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div class="float-right">
        <a class="btn btn-outline-secondary" href="{% url 'index' %}">return</a>
        <a class="btn btn-outline-secondary save" href="#">keep</a>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <form method="post" id="myform">
        <div class="form-group">
          <label for="pdf-upload">Upload Transcript</label>
          <input type="file" name="pdf-upload" id="pdf-upload" accept="application/pdf" />
        </div>
        {% crispy form %}
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <div id="calendar"></div>
    </div>
  </div>
  <br />
  <br />
  <div></div>
  {% endblock %}
</div>
