{% extends "./_base.html" %} {% block content %} {% load crispy_forms_tags %}
<div class="container">
  <div id="myModal" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header" style="background-color: darkcyan;">
          <h5 class="modal-title" style="color: black;">Search Parameters</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form id="filter" method="get" >
          <div class="modal-body">{{filter.form|crispy}}</div>
        </form>
        <div class="modal-footer" style="background-color: #CCCCCC;">
          <a class="btn btn-dark border-dark text-white" style="border-radius: 20px;" data-dismiss="modal">Cancel</a>
          <button type="submit" class="btn btn-dark border-dark" style="border-radius: 20px;" form="filter">Search</button>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-12">
      <a class="btn btn-dark border-dark filtered" style="border-radius: 20px; visibility: hidden" href="/?page=1">Cancel Search</a>
      <div class="float-right">
        <a class="btn btn-dark border-dark btn-new" style="border-radius: 20px;" href="{% url 'create' %}">New</a>
        <style>
          .btn-new:hover {
            background-color:rgb(100, 178, 255);
            color:black;
          }
        </style>
        <a class="btn btn-dark border-dark btn-search" style="border-radius: 20px;" data-toggle="modal" data-target="#myModal" href="#">Search</a>
        <style>
          .btn-search:hover {
            background-color:darkorange;
            color: black;
          }
        </style>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">{% include "./_pagination.html" %}</div>
  </div>

  <div class="row">
    <div class="col-12">
      <ul class="list-group">
        {% for item in item_list %}
        <li class="list-group-item" style="background-color:#CCCCCC;">
          <div class="row">
            <div class="col-3">
              <p><b>Student Name</b></p>
            </div>
            <div class="col-9">
              <p>{{ item.name }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><b>Record Timestamp</b></p>
            </div>
            <div class="col-9">
              <p>{{item.created_at|date:"Y/m/d G:i:s"}}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><b>Roll No</b></p>
            </div>
            <div class="col-9">
              <p>{{ item.roll_no }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-3">
              <p><b>Section</b></p>
            </div>
            <div class="col-9">
              <p>{{ item.section }}</p>
            </div>
          </div>
          <div class="row">
            <div class="col-12" >
              <button class="navbar-toggler d-flex justify-content-center align-items-center" type="button" data-toggle="collapse" data-target="#myButtonGroup{{ item.id }}" aria-controls="myButtonGroup" aria-expanded="false" aria-label="Toggle navigation">
                Options
              </button>
              <style>
                .navbar-toggler {
                  font-size:medium;
                  padding: .2rem 2rem;
                  border: 3px black ridge;
                  background-color:rgb(132, 167, 233);
                }
              </style>
              <div class="collapse" id="myButtonGroup{{ item.id }}">
                <div class="float-right">
                  <a class="btn btn-dark border-dark btn-detail" style="border-radius: 10px;" href="{% url 'detail' item.pk %}">Details</a>
                  <style>
                    .btn-detail:hover {
                      background-color:rgb(0, 153, 255);
                      color: black;
                    }
                  </style>
                  <a class="btn btn-dark border-dark btn-edit" style="border-radius: 10px;" href="{% url 'update' item.pk %}">Edit</a>
                  <style>
                    .btn-edit:hover {
                      background-color:darkorange;
                      color: black;
                    }
                  </style>
                  <a class="btn btn-dark border-dark btn-delete" style="border-radius: 10px;" href="{% url 'delete' item.pk %}">Delete</a>
                  <style>
                    .btn-delete:hover {
                      background-color:rgb(255, 60, 60);
                      color: black;
                    }
                  </style>
                </div>
              </div>
            </div>
          </div>
        </li>
        {% empty %}
        <li class="list-group-item">No data available</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
